<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Personal Portfolio Website</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body class="body">
  <header class="header">
    <a href="#" class="logo">Nazar.</a>
    <i class='bx bx-menu' id="menu"></i>

    <nav class="navbar">
      <a href="#home" class="active">Inicio</a>
      <a href="#about" class="">Sobre mí</a>
      <a href="#portfolio" class="">Proyectos</a>
    </nav>
    
  </header>

  <section class="home" id="home">
    <div class="home-content">
      <h3>Hola,soy</h3>
      <h1>Nazar Blanco</h1>
      <h3>Y soy, <span class="multiple-text">Full Stack Developer</span></h3>

      <div class="home-sci">
        <a href="https://www.linkedin.com/in/nazar-blanco-kataran-88a3b223a/"><i class='bx bxl-linkedin'></i></a>
        <a href="https://github.com/nazarbk"><i class='bx bxl-github' ></i></a>
      </div>

      <a href="./assets/CV.pdf" download type="application/pdf" class="btn">Descargar CV</a>
    </div>

    <div class="home-img">
      <img src="./assets/Yo-Portfolio.png" alt="Dibujaso de mi jeto para portfolio">
    </div>
  </section>

  <section class="about" id="about">
    <div class="about-img">
      <img src="./assets/BG2.png" alt="">
    </div>

    <div class="about-content">
      <h1 class="heading">Sobre <span class="mi">mí</span></h1>
      <p>Soy un apasionado desarrollador full stack con un profundo entusiasmo por la tecnología y una sed constante de aprendizaje.
        A lo largo de mi trayecto, he tenido el privilegio de trabajar tanto en equipo como individualmente, lo que me ha brindado una perspectiva versátil y una habilidad para adaptarme a diferentes situaciones, lenguajes y tecnologías. Además, poseo habilidades en diseño digital y dibujo, lo que me permite aportar una perspectiva creativa y estética a mis proyectos.
      </p>
    </div>
  </section>

  <section class="portfolio" id="portfolio">
    <h1 class="heading">Últimos <span class="mi">proyectos</span></h1>
    
    <div class="portfolio-container">
      <div class="portfolio-box">
        <img class="img-carta" src="./assets/favicon.png" alt="">
        <div class="portfolio-layer">
            <h3>BoomArtists</h3>
            <div class="portfolio-sci">
              <a href="https://github.com/jmg200UA/BoomArtists"><i class='bx bxl-github'></i></a>
              <a href="https://malnini.web.app/home"><i class='bx bx-link-external'></i></a>
            </div>
            <div class="portfolio-sci2">
              <i class='bx bxl-angular' ></i>
              <i><ion-icon name="logo-ionic"></ion-icon></i>
            </div>
        </div>
      </div>

      <div class="portfolio-box">
        <img class="img-carta" src="./assets/Quizmiz Logo-01.png" alt="">
        <div class="portfolio-layer">
            <h3>Quizmixdle</h3>
            <div class="portfolio-sci">
              <a href="git@github.com:nazarbk/Quizmizdle.git"><i class='bx bxl-github'></i></a>
              <a href="https://quizmixdle.web.app/"><i class='bx bx-link-external'></i></a>
            </div>
            <div class="portfolio-sci2">
              <i class='bx bxl-react' ></i>
              <i class='bx bxl-nodejs' ></i>
              <i class='bx bxl-mongodb' ></i>
            </div>
        </div>
      </div>

      <div class="portfolio-box">
        <img class="img-carta" src="./assets/Yo-Portfolio.png" alt="">
        <div class="portfolio-layer">
            <h3>Portfolio</h3>
            <div class="portfolio-sci">
              <a href="https://github.com/jmg200UA/BoomArtists"><i class='bx bxl-github'></i></a>
              <a href="https://malnini.web.app/home"><i class='bx bx-link-external'></i></a>
            </div>  
            <div class="portfolio-sci2">
              <i class='bx bxl-angular'></i>
              <i class='bx bxl-css3'></i>
            </div>
        </div>
      </div>
      <app-carousel [images]="images" [autoSlide]="true"></app-carousel>
    </div>  
  </section>

  <footer class="footer">
    <div class="footer-text">
      <p>Copyright &copy; 2023 by Nazar Blanco | All Rights Reserved.</p>
    </div>
  </footer>
</body>
</html>
